[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/hadilotfy/ITI-DevOps-FinalProject-Infra
[submodule "application"]
	path = application
	url = https://github.com/hadilotfy/ITI-DevOps-FinalProject-App
